body {
    background-color: azure;
}
.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
img {
    width: 330px;
    height: 300px;
}
.content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}