body {
    background-color: azure;
}
.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 6px;
}
img {
    width: 300px;
    height: 300px;
}
.content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
input {
    width: 98%;
    padding: 4px;
    background-color: yellowgreen;
    text-align: center;
}
i {
    background-color: greenyellow;
}
/* .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80px;
} */
#myButton {
    cursor: pointer;
}
